* {
	box-sizing: border-box;
}

:root {
	--main-title: #1d1d1d;
	--form-label-color: #333333;
	--form-background: #e6e6e6;
	--form-color: #1d1d1d;
	--form-border-color: #696969;
	--form-background-focus: #ececec;
	--form-color-focus: #303030;
	--navbar-border-bottom: #1d1d1d;
	--navbar-color: #e3e3e3;
	--nav-link: #4a4a4a;
	--nav-link-hover: #1b1b1b;

	--btn-color: #fff;
	--btn-increment-bg-color: #0d6efd;
	--btn-increment-border-color: var(--btn-increment-bg-color);
	--btn-increment-bg-color-hover: #0b5ed7;
	--btn-increment-border-color-hover: #0a58ca;
	--btn-increment-bg-color-active: #0a58ca;
	--btn-increment-border-color-active: #0a53be;

	--btn-submit-bg-color: var(--btn-increment-bg-color);
	--btn-submit-border-color: var(--btn-increment-border-color);
	--btn-submit-bg-color-hover: var(--btn-increment-bg-color-hover);
	--btn-submit-border-color-hover: var(--btn-increment-border-color-hover);
	--btn-submit-bg-color-active: var(--btn-increment-bg-color-active);
	--btn-submit-border-color-active: var(--btn-increment-border-color-active);

	--btn-decrement-bg-color: #dc3545;
	--btn-decrement-border-color: var(--btn-decrement-bg-color);
	--btn-decrement-bg-color-hover: #bb2d3b;
	--btn-decrement-border-color-hover: #b02a37;
	--btn-decrement-bg-color-active: #b02a37;
	--btn-decrement-border-color-active: #a52834;

	--card-bg: #99ff8c;
	--card-border-color: #272727;
}

body {
	font-family: system-ui, sans-serif;
	margin: 0;
	padding: 0 0 90px 0;
}

.navbar {
	position: fixed;
	left: 0;
	right: 0;  
	height: 90px;
	background-color: var(--navbar-color);
	display: flex;
	padding: 0 16px;
	align-items: center;
	z-index: 1000;
	border-bottom: var(--navbar-border-bottom);
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    padding-block: 12px;
    padding: 0;
}

.nav-link {
    display: inline-block;
    padding: 12px 12px;
    border-radius: 6px;
    font-size: 34px;
    color: var(--nav-link);
    text-decoration: none;
    line-height: 1;
    user-select: none;
}

.nav-link:hover {
	color: var(--nav-link-hover);
}

.header {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.header h1, .main-title {
	font-size: 48px;
	font-weight: 700;
	color: var(--main-title);
}

.main-title {
	font-size: 36px;
}

ul .array-list {
	font-size: 23px;
}

.form-title{
	font-size: 34px;
	margin: 0 0 10px;
}

.form-container, .counter-container{
	padding: 20px 10px 20px 10px;
}

.counter-container p {
	font-size: 28px;
}

.form-field {
	padding: 10px 10px 16px 10px;
}

.form-label {
	display: inline-block;
	font-size: 18px;
	color: var(--form-label-color);
	margin-bottom: 0.5rem;
}

.form-control {
	display: block;
	font-size: 24px;
	background: var(--form-background);
	color: var(--form-color);
	border: 2px solid var(--form-border-color);
	border-radius: 0.4rem;
}

.form-control:focus {
	background: var(--form-background-focus);
	color: var(--form-color-focus);
}

.btn {
    display: inline-block;
    padding: 10px 36px;
    border-radius: 8px;
    font-weight: 600;
    text-decoration: none;
    line-height: 1;
    user-select: none;
	margin-right: 2px;
	color: var(--btn-color);
}

.btn-increment, .btn-submit {
	background: var(--btn-increment-bg-color);
	border: 1px solid var(--btn-increment-border-color);
}

.btn-decrement {
	background: var(--btn-decrement-bg-color);
	border: 1px solid var(--btn-decrement-border-color);
}

.btn-decrement:hover {
	background: var(--btn-decrement-bg-color-hover);
	border-color: var(--btn-decrement-border-color-hover);
}

.btn-decrement:active {
	background: var(--btn-decrement-bg-color-active);
	border-color: var(--btn-decrement-border-color-active);
}

.btn-increment:hover, .btn-submit:hover {
	background: var(--btn-increment-bg-color-hover);
	border-color: var(--btn-increment-border-color-hover);
}

.btn-increment:active, .btn-submit:active {
	background: var(--btn-increment-bg-color-active);
	border-color: var(--btn-increment-border-color-active);
}

.card {
	margin-top: 26px;
	padding: 16px;
	border: 1px solid var(--card-border-color);
	border-radius: 12px;
	background: var(--card-bg);
	max-width: 320px;
}

